body {
    background: #1ac27c;
    font-family: Tahoma, Arial, sans-serif;
}

h1 {
    color:blueviolet;
    font:32px Garamond, Helvetica, serif;
   
}

table {
    width:40%;
    
    font-style: italic;
    
    
}
   
label {
    display: block;
}

#submit-btn {
     display: block;
     color: chocolate;
     background-color: crimson;
}
    form {
        width: 15%;
        border: springgreen 5px solid;
    }
    address {
        width: 15%;
        border: brown 5px solid;
    }